.blackpath{
	background: rgba(0,0,0,0.3);
	position: absolute ;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body{
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navigation ul{
	list-style: none;

}

.navigation li{
	display: inline;
}


.top-navigation{
	margin: 20px;
}

.dyn-nav{
	position: absolute;
	background-color: rgba(0,0,0,0.64);
	z-index: 11;
	width: 100%;
	height:auto;
	padding:0; 
	font-size: 15px;

}

.main-navigation{
	color:#fff;
	padding: 15px;

}

.main-navigation ul li {
	margin:10px;
	padding:10px;
}

.content-banner{	
	position: absolute;
	left: 25%;
	top:30%;
}

.banner-scroll{
	position: relative;
}

.post-container{
	background-color: #4a2727;
	box-shadow: none;
}

.main-content{
	padding:20px 0px 40px 0px;
}

.post-img{
	float: left;
	width: 20.5em;
	margin: 0 1.4em 0 0;
}

.post-content{
	overflow: auto;
}

.post-wrap{
	background-color: #ececec;
	padding: 20px;
	margin-top: 10px;
	border-radius: 5px;
}

.post-slim{
	background-color: #ececec;
	padding: 20px;
	margin-top: 10px;
	border-radius: 5px;
}

.post-slim img{
	padding:10px;
	margin:auto;
	width: 100%;
	height: auto;
}

.post-wrap img{
	padding:10px;

}

.post-link{
	padding-top: 1em;
	border-top-width: 1px;
	border-style: dashed;
	border-color: #7EC7C5;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
}

.post-link a{
	background-color: #2caBa8;
	font-weight: 700;
	margin-bottom: 1px;
	color:#fff;
}
.post-content a{
	text-decoration: none;
}
/* New CSS: Template*/
.logo_cont{
	padding: 20px 0;
}
.logo_cont img{
	margin-right: 18px;
}
.logo_cont div{
	display: inline-block;
	margin-top: 7px;
}
.side_links_cont ul, .second_nav ul, .sitemap_cont ul, .footer ul{
	padding: 0px;
	margin: 0px;
	display: inline-table
}
.side_links_cont ul li, .second_nav ul li, .footer ul li{
	list-style: none;
	display: inline-table;
}
.side_links_cont div{
	display: inline-block;
}
.about_cont ul li{
	padding: 25px 16px;
	padding-right: 0px;
	font-size: 16px;
}
.about_cont a, .about_cont a:visited,.about_cont a:focus{
	color: #333;
	text-decoration: none;
}
.about_cont a:hover{
	text-decoration: underline;
}
header .social_cont{
	margin-left: 12px;
	position: relative;
	top: 10px;
	vertical-align: top;
}
.social_cont a,.social_cont a:visited,.social_cont a:focus{
	color: #a9a9a9;
	text-decoration: none;
}
.social_cont a:hover{
	color: #989898;
	text-decoration: none;
}

.social_cont .fa-md{
	font-size: 18px;
}
.second_nav{
	position: absolute;
	background-color: rgba(0,0,0,0.64);
	z-index: 11;
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;

}
.second_nav a,.second_nav a:hover,.second_nav a:visited,.second_nav a:focus{
	color: #fff;
	text-decoration: none;
}
.submenu_nav ul li{
	padding: 18px 40px;
	padding-left: 0px;
}
.search_cont{
	padding-top: 13px;
}
.search_cont .fa-md{
	font-size: 18px;
	color: #50c8e8;
}
.sitemap_cont{
	padding: 30px 0;
	background: #edebeb url('../img/swoop.png') no-repeat bottom right
}
.sitemap_cont .sitemap ul li{
	list-style: none;
	padding-bottom: 5px;
}
.sitemap_cont .sitemap a{
	font-size: 15px;
	line-height: 1;
}
.sitemap a,.sitemap a:visited,.sitemap a:focus{
	color: #333;
	text-decoration: none;
}
.sitemap a:hover{
	text-decoration: underline;
}
.mini_map img{
	margin: auto;
	display: block;
	margin-bottom: 30px;
}
.mini_map a{
	display: block;
	color: #00aeef;
	font-size: 15px;
}
.footer{
	padding: 15px 0;
}
.copyright_cont div{
	display: inline-block;
	margin-right: 15px;
}
.copyright_cont{
	color: #aaa;
	position: relative;
	top: 6px;
}
.copyright_cont a {
	color: #aaa;
	text-decoration: underline;	
}
.copyright_cont ul li{
	padding: 0px 20px;
	border-left: 1px solid #aaa;
}
/* New CSS: Home*/
#banner_cont img{
	height: 500px;
	object-fit: cover;
	object-position: center;
}
.news_category{
	color: #919090;
	margin-bottom: 10px;
}
.news_title,.news_title:visited,.news_title:focus{
	color: #333;
	text-decoration: none;
}
.news_title:hover{
	color: #5c5c5c;
	text-decoration: none;
}
.news_link a{
	border-radius: 0px;
}
.news_link a:hover{
	color: #FFF;
	text-decoration: none;
}
.news_cont2 .news_div{
	background: #cce9e9;
}
.news_cont2 .news_category{
	color: #00a29e;
}
.other_cont{
	box-shadow: 0 1px 4px rgba(0,0,0,0.22);
	border-radius: 4px;	background: #fff;
}
.other_cont_purple .news_div{
	background: #c3d0e4;
}
.guide_cont_blue .news_div{
	background: #50c8e8;
}
.guide_cont_blue .news_category{
	color: #3b88a4;
}
.active_blog{
	color: #00aeef !important;
}

.dropit{
	display: none !important;
	top: 100%;
    left: 0;
	padding: 1em !important;
	position: absolute;
	color: black;
	background-color: #f9f9f9;
	width: 100%;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	/* padding: 12px 16px; */
	/* z-index: 999 !important; */
	
}

.dropit .sec_nav{

	color: #21607A;
	background: #d8d8d8;
	padding: 0.5em 1em;
	font-size: 0.9em;
	text-transform: none;	
	margin-right: 2%;
	margin-bottom: 1%;
	width: 48%;
	float: left;
	
}
.dropit .sec_nav a{
	margin: .2em;
	color: #21607A;
	
	width: 100%;

}

.sec_nav:hover .dropit{
	display: block !important;
}



/*News Page*/
.breadcrumbs{
	background: #edebeb;
	padding: 10px;
}

.banner-content-text {
	width: 100%;
	position: relative;
	color: white;
}

.banner-title {
	font-size: 2.4em;
}
.banner-description {
	font-size: 1.5em;
}
.breadcrumbs ul{
	margin: 0;
	padding: 10px;
}
.breadcrumbs ul li{
	list-style-type: none;
	display: inline-table;
}
.breadcrumbs span{
	color: #b1b1b1;
	font-size: 12px;
}
.breadcrumbs a{
	margin: 0px 10px;
}
.breadcrumbs a,.breadcrumbs a:visited,.breadcrumbs a:focus{
	color: #00aeef;
	text-decoration: none;
}
.breadcrumbs a:hover{
	color: #008bbf;
	text-decoration: none;
}
.search_bar{
	margin-bottom: 10px;
}
.search_bar #search_news,.search_bar #search_news_btn{
	height: 40px;
	background: #f4f4f4;
	border: none;
	border-radius: 0px;
	font-size: 15px;
	box-shadow: none;
}
.search_bar #search_news:focus{
/*	outline: none;
    background-color: #fff;
    border:2px solid rgba(0,0,0,0.62);
    box-shadow: none;*/
}
.search_bar #search_news::placeholder{
	color: #888;
}
.search_bar #search_news_btn{
	font-size: 18px;
	color: #888;
}
.related_articles{
	padding: 20px;
	margin-bottom: 15px;
	background-color: #4f8abe;
	box-shadow: 0 1px 4px rgba(0,0,0,0.22);
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.related_articles div{
	border-bottom: 1px solid white;
	margin-bottom: 20px;
}
.related_articles ul{
	margin: 0;
	padding: 10px;
}
.related_articles ul li{
	margin-bottom: 10px;
}
.related_articles a,.related_articles a:visited,.related_articles a:focus{
	color: #FFF;
}
.related_articles a:hover{
	text-decoration: underline;
}
.tax_news{
	padding: 20px;
	margin-bottom: 15px;
	background-color: #ececec;
	border-radius: 4px;
	font-size: 16px;
}
.tax_news h4{
	color: #21607A;
	font-weight: bold;
}
.tax_news ul{
	margin: 0;
	padding: 0;
}
.tax_news ul li{
	margin-bottom: 10px;
	list-style-type: none;
}
.tax_news a,.tax_news a:visited,.tax_news a:focus{
	color: #333;
	text-decoration: none;
}
.tax_news a:hover{
	color: #5c5c5c;
}
/*News List Page*/
.news_details{
	padding: 1.5em;
	margin-bottom: 2em;
	box-shadow: 0 1px 4px rgba(0,0,0,0.22);
	border-radius: 4px;
	background-color: #fff;
}
.news_details h1{
	
	font-weight: 300;
	margin-bottom: 15px;
	font-size: 28px;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	color: #21607A;
}

h1{
	font-size: 1.9em;
}

.news_details .news_img{
	width: 85%;
	margin-bottom: 15px;
}
.tag_btn, .share_btn{
	color: #FFF;
	background-color: #00928f;
	padding: 3px 7px;
	margin-right: 5px;
	font-size: 14px;
	border-radius: 0px;
}
.share_btn{
	font-size: 15px;
}
.news_details .news_date{
	color:#a4a4a4;
	font-size: 15px;
	margin-bottom: 15px;
}
.news_details .news_date span{
	margin:0px 10px;
}
.news_full_content{
	font-size: 16px;
}
.tags_div{
	padding: 15px;
	border-top: 2px dashed #eaeaea;
	border-bottom: 2px dashed #eaeaea;
}
.tags_div span{
	color: #bbb;
	margin-right: 5px;
}

.tags_div a,.tags_div a:visited,.tags_div a:focus, .share_btn,.share_btn:visited,.share_btn:focus{
	color: #FFF;
}
.tags_div a:hover, .share_btn:hover{
	background-color: #008381;
	color: #FFF;
}
/*Services: Home*/

.services_list ul, .sectors_list ul{
	margin: 0;
	padding: 0;
}
.services_list ul li, .sectors_list ul li{
	list-style-type: none;
}
.services_list a,.services_list a:visited,.services_list a:focus, .sectors_list a,.sectors_list a:visited,.sectors_list a:focus{
	color: #21607A;
	text-decoration: none;
	border-left: 2px solid #00aeef;
	padding:.4em 0 .4em 1.3em;
	line-height: 1.1;
	display: block;
}
.services_list a:hover,.sectors_list a:hover{
	color: #00aeef;
}
.services_content h2,.sectors_content h2{
	color: #21607A;
	font-weight: 300;
	font-size: 1.9em;
	margin-bottom: 30px;
}
.services_content,.sectors_content{
	font-size: 16px;
}
.sectors_content p span{
	color: rgb(64, 224, 208);
	font-weight: bold;
}
.pub_div {
	font-size: 16px !important;
}
.pub_div .post-img{
	width: 16.5em;
	padding: 10px 0px;
}
.pub_div .news_category{
	margin-bottom: .5em;
	font-weight: 700;
	color: #BABABA;
}
.pub_div .news_title{
	display: block;
	margin-bottom: .8em;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.1;
}
.pub_div .popout{
	position: relative;
	padding: 30px 40px;
	margin-bottom: 1.6em;
	line-height: 1.6;
	background-color: #c3d0e4;
	color: #21607A;
	margin-top: 85px;
}
.pub_div .popout:after{
	content: "";
	height: 0;
	width: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 13px solid #c3d0e4;
	position: absolute;
	bottom: -13px;
	left: 28px;
}
.pub_div div:nth-child(2){
	color: #21607A;
	position: relative;
	left: 8px;
}

/*Locations*/
.loc_result{
	padding: 15px;
	background: #f7f7f7;
	margin-bottom: 30px;
}
.loc_intro{
	font-size: 16px;
	margin-bottom: 15px;
}
.loc_intro h2{
	font-size: 25px;
	font-weight: 300;
	color: #21607A;
	margin-bottom: 1em;
}
.loc_intro p{
	padding: 5px;
	margin-bottom: 20px;
}

.island {
    background-color: #f4f4f4;
    padding: 2em;
    margin-bottom: 2em;
}

.block-head {
    padding: 1em;
    background-color: #00aeef;
}

.block-title {
    position: relative;
    color: #fff;
     margin-bottom: 0;
    font-weight: 400;
}

.block-body {
    padding: 1em;
    word-break: break-word;
    background-color: #f4f4f4;
}

.block-head--icon:after {
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -0.5em;
    font-size: 1.3em;
    color: #fff;
}

.person-profile h1 {
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.2;
    color: #00aeef;
}

.person-profile h2 {
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 1em;
}

.person-contact-detail-email {
    margin-bottom: 15px;
}

.person-bio {
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
}
.head-bio{
	margin-left: 0px;
}

.person-contact-detail {
    font-size: 1.2em;
    font-weight: 300;
}

.people-position{
	 margin-bottom: 0.1em;
    font-weight: 300;
    font-size: 1.2em;
    color: #666;

}

.people{
	position: relative;
}

.loc_info{

	background-color: #f7f7f7;
	border-bottom: 3px solid #b7b7b7;
	border-radius: 4px;
	margin-bottom: 30px;
	padding: 15px;
	padding-bottom: 7px;
	margin-right: 2%;
	/*width: 48%;
	float: left;*/
	min-height: 197px;
}
.footer-people{
	 bottom: 7%;
  
}

.body-people{
	
   
}

.loc_info a,.loc_info a:visited,.loc_info a:focus{
	text-decoration: none;
	color: #333;
}
.loc_info a:hover{
	color: #5c5c5c;
	text-decoration: none;
}
.loc_info .loc_place{
	font-size: 18px;
	color: #333;
	font-weight: 700;
}
.loc_info .loc_addr{
	font-size: 18px;
	color: #666;
	font-weight: 300;
}
.loc_info .loc_contact{
	font-size: 16px;
	font-weight: 700;
	color: #797979;
	margin-bottom: 5px;
}
.loc_info .loc_contact a,.loc_info .loc_contact a:visited,.loc_info .loc_contact a:focus{
	color: #26a;
	font-weight: 300;
}
.loc_info .loc_contact a:hover{
	color: #1a4d80;
}
.loc_contact a.btn-small{
	background-color: #2caBa8;
	font-weight: 700;
	margin-bottom: 1px;
	color: #fff;
	border-radius: 0px;
	padding: 3px 10px;
	padding-left: 5px;
}
.loc_contact a.btn-small:hover{
	color: #fff;
}

.right{
	float: right;
}
.left{
	float:left;
}