/*input[type=radio], input[type=checkbox] {
   border: 1px solid #b4b9be;
   background: #fff;
   color: #555;
   clear: none;
   cursor: pointer;
   display: inline-block;
   line-height: 0;
   height: 16px;
   margin: -4px 4px 0 0;
   outline: 0;
   padding: 0!important;
   text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
   box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
   -webkit-transition: .05s border-color ease-in-out;
   transition: .05s border-color ease-in-out;
}

input[type=checkbox]:checked:before {
    content: "\f147";
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
}

input[type=radio]:checked:before, input[type=checkbox]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/