#wrapper, .main-head, .main-section, .main-footer { min-width: 1200px; }

body { font-size: 14px; }

.container { width: 1200px; }

.sub-header { background: #4b4b4b; }

.header-container { position: relative; left: auto; top: auto; }

.home-widget .content { top: 20%; }

.main-content { padding: 0; height: 900px; }

.browserupgrade { background-color: #ff5656; margin: 0; padding: 30px; font-size: 1.2em; height: 80px; }

.browserupgrade a { text-decoration: underline; }
